@font-face {
    font-family: 'db_ozone_xregular';
    src: url('db_ozone_x_v3.2-webfont.woff2') format('woff2'),
         url('db_ozone_x_v3.2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
    p{
        font-family: 'db_ozone_xregular';
    }
.dd-navbar{
    align-items: center;
}

.dd-container {
    position: relative;
    width: 100%;
    max-width: 1380px;
    padding: 0 40px;
    margin: 0 auto;
    font-family: 'Francois One', sans-serif;
    color: white;
}

.dd-navlink {
    background-color: #391f01;
    margin: 0px;
    overflow: hidden;
    padding: 10px;
}

.dd-nav .dd-navlink .dd-container{
    display: flex;
}


.dd-navlink.is-sub {
    background-color: #663701;
}
.dd-navlink a.is-active, .dd-navlink a:hover , .dd-link{
    color: #f77b00;
    text-decoration: none;
}

.dd-navlink.is-sub a.is-active, .dd-navlink.is-sub a:hover{
    color: white;
    text-decoration: none;
}

.dd-navlink a {
    padding-right: 30px;
    display: block;
    font-size: 17px;
    color: #fff;
}

.dd-navbarsocial {
    position: absolute;
    right: 0;
    bottom: 80px;
}

.dd-link{
    display: flex;
}

.dd-nav .dd-link a {
    font-size: 18px;
    display: block;
    padding: 0 15px;
    color: #663701;
    text-decoration: none;
}

.dd-link a:hover{
    color: #f77b00;
    text-decoration: none;
}
.dd-navlink.is-sub a{
    color: #f77b00;
}

.dd-navlink.is-sub a:hover{
    color: white;
    text-decoration: none;
}

.dd-nav ul {
    list-style: none;
    padding: 0;
}

.dd-social {
    display: flex;
}

.dd-social {
    margin-bottom: 15px;
    align-items: center;
}

.dd-social a {
    padding: 18px;
}

.footer {
    padding: 40px;
    text-align: center;
    background:  #663701;
  }

/*--snack box--*/
#setsnack{
    font-size: 17px;
}

#snack{

    padding: 90px;
    font-size: 17px;
}
/*--Donut--*/

#donuts{
    display: flex;
    text-align: center;
}

.row{
    box-sizing: border-box;
    display: inline-block;
    align-items: center;
}

#donut{
    margin: 20px;
    padding: 0 20px;
    text-align: center;
    font-size: 18px;
}

#donut:hover{-webkit-transform:scale(1.15);transform:scale(1.15);transition:-webkit-transform .3s ease;transition:transform .3s ease;transition:transform .3s ease, -webkit-transform .3s ease}

.title:hover {color:#f77b00;transition:color .15s ease}

/*--Everyday--*/
.vlp {
    margin-left: 50px;
    border-left: 1.5px solid black;
    height: 350px;
   
  }

  .vlp36 {
    margin-left: 50px;
    border-left: 1.5px solid black;
    height: 400px;
   
  }
  


  #pack:hover{
    background-color: #f7f7f7; 
    
  }


/*--Sandwiches--*/
.vls {
    margin-left: 50px;
    border-left: 1.5px solid black;
    height: 250px;
   
  }

  .vls2 {
    margin-left: 50px;
    border-left: 1.5px solid black;
    height: 350px;
   
  }

  #sand:hover{
    background-color: #f7f7f7; 
    
  }



/*--Coffee--*/
  .square {
    height: 350px;
    width: 320px;
    background-color:#773722;
  }
  .square2 {
    height: 350px;
    width: 320px;
    background-color:#773722;
  } 
  .square3 {
    height: 350px;
    width: 320px;
    background-color:#773722;
  }
   .square4 {
    height: 350px;
    width: 320px;
    background-color:#773722;
  }

  .square33 {
    height: 350px;
    width: 350px;
    background-color: #F2F2F2;
  }
  .square44 {
    height: 350px;
    width: 350px;
    background-color: #F2F2F2;
  }

  .square55 {
    height: 700px;
    width: 700px;
    background-color: #F2F2F2;
  }


  .square:after {
    content: "";
    left: 100%;
    display: block;
    position: relative;
    width: 0;
    height: 0;
    margin-top:-80px;
    margin-left: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #773722;
  }

  .square2:before {
    content: "";
    right: 100%;
    display: block;
    width: 0;
    height: 0;
    margin-top:50px;
    margin-left: 305px;
    position: relative;
    top: 30%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid#773722;
}
.square3:after {
    content: "";
    left: 100%;
    display: block;
    position: relative;
    width: 0;
    height: 0;
     margin-top:-130px;
    margin-left: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #773722;
  }
  .square4:after {
    content: "";
    left: 100%;
    display: block;
    position: relative;
    width: 0;
    height: 0;
     margin-top:-40px;
    margin-left: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #773722;
  }

.squarep {
    height: 350px;
    width: 320px;
    background-color:#E04B94;
  }
  .squarep2 {
    height: 350px;
    width: 320px;
    background-color:#E04B94;
  }

  .squarep3 {
    height: 350px;
    width: 320px;
    background-color:#E04B94;
  }
  .squarep4 {
    height: 350px;
    width: 320px;
    background-color:#E04B94;
  }
  .squarep5 {
    height: 350px;
    width: 320px;
    background-color:#E04B94;
  }
  .squarep6 {
    height: 350px;
    width: 320px;
    background-color:#E04B94;
  }
  



  .squarep:after {
    content: "";
    left: 100%;
    display: block;
    position: relative;
    width: 0;
    height: 0;
     margin-top:-60px;
    margin-left: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #E04B94;
  }
  .squarep2:after {
    content: "";
    left: 100%;
    display: block;
    position: relative;
    width: 0;
    height: 0;
     margin-top:0px;
    margin-left: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #E04B94;
  }

  .squarep3:before {
    content: "";
    right: 100%;
    display: block;
    width: 0;
    height: 0;
    margin-top:50px;
    margin-left: 305px;
    position: relative;
    top: 30%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid#E04B94;
}
.squarep4:before {
    content: "";
    right: 100%;
    display: block;
    width: 0;
    height: 0;
    margin-top:50px;
    margin-left: 305px;
    position: relative;
    top: 30%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid#E04B94;
}
.squarep5:after {
    content: "";
    left: 100%;
    display: block;
    position: relative;
    width: 0;
    height: 0;
     margin-top:-80px;
    margin-left: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #E04B94;
  }
  .squarep6:after {
    content: "";
    left: 100%;
    display: block;
    position: relative;
    width: 0;
    height: 0;
     margin-top:-30px;
    margin-left: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #E04B94;
  }

  #coffee:hover{-webkit-transform:scale(1.02);transform:scale(1.02);transition:-webkit-transform .3s ease;transition:transform .3s ease;transition:transform .3s ease, -webkit-transform .3s ease}

  .line1 {
    margin-left: 50px;
    border-left: 1.5px solid black;
    height: 105px;
    padding-left: 15px;
  }

  .line2 {
    border-left: 1.5px solid black;
    height: 140px;
    padding-left: 15px;
    margin-top: 35px;
  }

  #link {
    text-decoration: none;
    color: black;
  }

  .squarep3 {
    height: 350px;
    width: 320px;
    background-color:#E04B94;
  }
  .squarep4 {
    height: 350px;
    width: 320px;
    background-color:#E04B94;
  }
  .squarep5 {
    height: 350px;
    width: 320px;
    background-color:#E04B94;
  }
  .squarep6 {
    height: 350px;
    width: 320px;
    background-color:#E04B94;
  }
  



  .squarep:after {
    content: "";
    left: 100%;
    display: block;
    position: relative;
    width: 0;
    height: 0;
     margin-top:-60px;
    margin-left: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #E04B94;
  }
  .squarep2:after {
    content: "";
    left: 100%;
    display: block;
    position: relative;
    width: 0;
    height: 0;
     margin-top:0px;
    margin-left: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #E04B94;
  }

  .squarep3:before {
    content: "";
    right: 100%;
    display: block;
    width: 0;
    height: 0;
    margin-top:50px;
    margin-left: 305px;
    position: relative;
    top: 30%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid#E04B94;
}
.squarep4:before {
    content: "";
    right: 100%;
    display: block;
    width: 0;
    height: 0;
    margin-top:50px;
    margin-left: 305px;
    position: relative;
    top: 30%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid#E04B94;
}
.squarep5:after {
    content: "";
    left: 100%;
    display: block;
    position: relative;
    width: 0;
    height: 0;
     margin-top:-80px;
    margin-left: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #E04B94;
  }
  .squarep6:after {
    content: "";
    left: 100%;
    display: block;
    position: relative;
    width: 0;
    height: 0;
     margin-top:-30px;
    margin-left: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #E04B94;
  }

  #coffee:hover{-webkit-transform:scale(1.01);transform:scale(1.01);transition:-webkit-transform .3s ease;transition:transform .3s ease;transition:transform .3s ease, -webkit-transform .3s ease}






.square33:after {
    content: "";
    bottom: 50%;
    left: 100%;
    display: block;
    position: relative;
    width: 0;
    height: 0;
    margin-top:0px;
    margin-left: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid  #F2F2F2;
  }
  .square44:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: relative;
    right: 91%;
    top: 50%;
    margin-left: 305px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #F2F2F2;
}

.square55:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: relative;
    right: 90.8%;
    top: 50%;
    margin-left: 621px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #F2F2F2;
}

.square_1 {
  height: 333.51px;
  width: 325px;
  background-color:#f58220;
  
}

.square_2 {
  height: 333.51px;
  width: 325px;
  background-color:#f58220;
  
}

.square_3 {
  height: 333.51px;
  width: 325px;
  background-color:#773722;
  
}

.square_4 {
  height: 333.51px;
  width: 325px;
  background-color:#773722;
  
}

.square_1::after {
  content: "";
  left: 100%;
  display: block;
  position: relative;
  width: 0;
  height: 0;
  margin-top: -10px;
  margin-left: 0px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #f58220;
}


.square_2::before {
  content: "";
  right: 100%;
  display: block;
  position: relative;
  width: 0;
  height: 0;
  top: 150px;
  margin-left: 313px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #f58220;
}

.square_3::after {
  content: "";
  left: 100%;
  display: block;
  position: relative;
  width: 0;
  height: 0;
  margin-top: -50px;
  margin-left: 0px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #773722;
}

.square_4::before {
  content: "";
  right: 100%;
  display: block;
  position: relative;
  width: 0;
  height: 0;
  top: 150px;
  margin-left: 313px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #773722;
}

#beverage {
  padding: 0px;
  margin: 0px;
}

.dd-img {
  width: 325px;
  height: 333.51px;
}